[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/run/nginx.pid
UMask=0007
ExecStartPre=/usr/bin/install -d -o nginx -g xray-nginx -m 2770 /dev/shm/nginx
ExecStartPre=/usr/bin/install -d -o nginx -g xray-nginx -m 2770 /dev/shm/nginx/tcmalloc
ExecStartPre=/bin/rm -f /dev/shm/nginx/default_backend.sock /dev/shm/nginx/cdn_to_nginx.sock /dev/shm/nginx/xray_reality_to_nginx.sock
ExecStartPre=/usr/sbin/nginx -t -q -g 'daemon on; master_process on;'
ExecStart=/usr/sbin/nginx -g 'daemon on; master_process on;'
ExecReload=/usr/sbin/nginx -g 'daemon on; master_process on;' -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
TimeoutStopSec=5
KillMode=mixed
PrivateTmp=true

[Install]
WantedBy=multi-user.target
